input[type="file"] {
    font-size: 16px;
    color: #F4D1AE;
    margin-right: 1em;
}

input[type="file"]::-webkit-file-upload-button {
    font-family: 'Lexend', sans-serif;
    font-size: 18px;
    background-color: #06BCC1;
    color: #F4EDEA;
    width: 8em;
    padding: 0.6em;
    border: 2px solid #12263A;
    border-radius: 2em;
    cursor: pointer;
}

input[type="file"]::-webkit-file-upload-button:hover {
    font-weight: 600;
    background-color: #12263A;
    border: 2px solid #06BCC1;
}

.file-btn {
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    background-color: #06BCC1;
    width: 12em;
    padding: 0.6em;
    border: 2px solid #12263A;
    border-radius: 2em;
    cursor: pointer;
}

.file-btn:hover {
    font-weight: 600;
    background-color: #12263A;
    border: 2px solid #06BCC1;
}

@media (max-width: 768px) {
    input[type="file"] {
        width: 50%;
        font-size: 20px;
        padding: 0.7em;
    }

    input[type="file"]::-webkit-file-upload-button {
        width: 50%;
        font-size: 20px;
        padding: 0.7em;
    }

    .file-btn {
        font-size: 20px;
        padding: 0.7em;
    }
}

@media (max-width: 480px) {
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    input[type="file"] {
        width: 80%;
        font-size: 24px;
        padding: 0.7em;
    }

    input[type="file"]::-webkit-file-upload-button {
        font-size: 24px;
        padding: 0.7em;
    }

    .file-btn {
        font-size: 24px;
        padding: 0.7em;
    }
}